.color-cell {
  height: 20px;
  width: 20px;
  margin: 4px;
}

.palette {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.matrixPalette-row {
  display: flex;
  flex-direction: row;
}

.gradient {
  height: 20px;
  width: 100px;
  margin: 4px;
}

.grad-step {
  display: inline-block;
  height: 20px;
  width: 1px;
}
